.nav {
  height: 50px;
  padding: 10px;
  background: #000;
  color: #fff;
}
  
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}


.nav ul li a {
  margin: 5px 15px;

}